version: "3.9"

services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: /Users/sebastian/Documents/million/million/backend/PropertyService
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      MongoDb__ConnectionString: mongodb://mongo:27017
      MongoDb__DatabaseName: properties_db
      MongoDb__CollectionName: properties
    depends_on:
      - mongo
    ports:
      - "8080:8080"

  frontend:
    build:
      context: /Users/sebastian/Documents/million/million/frontend/property-web
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://backend:8080
      NODE_ENV: production
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  mongo-data:

